{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View your cart...</p>
                </div>
            </div>
        </header>
        <br/>
        
        <div class="container">
            {% if cart_products %}
            {% for product in cart_products %}
                <div class="col-8">
                    <br/><br/>
                    <div class="card mb-3" >
                        <div class="row g-0">
                        <div class="col-md-4">
                            {% if product.is_sale %}
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text">{{product.description}}</p>
                                <strike>{{product.price}}</strike>
                                {{product.sale_price}}
                                <div class="row">
                                    <div class = "col-md-2">Quantity:</div>
                                      <div class = "col-md-2">
                                        <select class="form-select form-select-sm" id = "select{{product.id}}">
                                            <option selected>
                                                {%for key,value in quantities.items%}
                                                    {% if key == product.id|slugify %}
                                                        {{value}}
                                                    {% endif %}
                                                {%endfor%}
                                            </option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                {% else %}
                                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    <p class="card-text">{{product.description}}</p>
                                    {{product.price}}
                                    <br>
                                    <div class="row">
                                        <div class = "col-md-2">Quantity:</div>
                                          <div class = "col-md-2">
                                            <select class="form-select form-select-sm" id = "select{{product.id}}">
                                                {%for key,value in quantities.items%}
                                                    {% if key == product.id|slugify %}
                                                    <option selected>{{value}}</option>
                                                    {% endif %}
                                                {%endfor%}
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </div>
                                {% endif %}
                                        <br>
                                    <a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
                                    <button type ="button" data-index ="{{product.id}}" class = "btn btn-secondary update-cart">Update</button>
                                    <button type ="button" data-index ="{{product.id}}" class = "btn btn-danger delete-product">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/><br/>
                </div>
            {% endfor %}
            <h3>Total: ${{totals}}</h3>
            {% else %}
            <h1>Cart is empty</h1>
            {% endif %}
            
        </div>
<script>
    //update cart
    $(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    //grab  the prodcut id
    var productid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url : "{% url 'cart_update' %}",
      data:  {
        product_id: $(this).data('index'),
        product_qty: $('#select' + productid +' option:selected').text(),
        csrfmiddlewaretoken: '{{csrf_token}}',
        action:'post'
      },

      success: function(json){
         location.reload();
      },

      error : function(xhr,errmsg, err){

      }
    });
  })

 // delete item from the cart
  $(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    //grab  the prodcut id
    //
    $.ajax({
      type: 'POST',
      url : "{% url 'cart_delete' %}",
      data:  {
        product_id: $(this).data('index'),
        csrfmiddlewaretoken: '{{csrf_token}}',
        action:'post'
      },

      success: function(json){
         location.reload();
      },

      error : function(xhr,errmsg, err){

      }
    });
  })
</script>

{% endblock %}
